<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hzsoft.module.home">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="debug.HomeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/module_home"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
    </application>

</manifest>
